body{
    background-image: url("/images/hatter.png");
}
a, a:hover, a:active{
    color: #ffa500 !important;
}
nav{
    background-color: white;
    margin: auto;
    width: 84%;
}
#jumbo{
    background-color: #ffa500;
    width: 84%;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}
h1{
    color: black;
    text-align: center;
    font-weight: bold !important;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
#navb{
    margin-top: 2%;
    margin-bottom: 2%;
}

#fotartalom{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 25px;
    border: 1px solid #d9d9d9;
}
#fotartalom2{
    background-color: #f7f7f7;
    height: 100%;
    width: 84%;
    padding-bottom: 25px;
    padding-top: 8px;
    border: 1px solid #d9d9d9;
}
#foszoveg{
    margin: auto;
}
#bokor{
    display: block;
    margin: auto;
}
p{
    text-align: justify;
}
#kepekafooldalon{
    width: 85.2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.h2_header{
    background-color: #ffa500;
    color: black;
    padding: 3%;


}
.tartalmak{
    background-color: white;
    padding: 3%;
    margin-bottom: 3%;
}
.tartalomalign{
    width: 85%;
}
